<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>

<div class="panel panel-default products">
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th>Number of products</th>
        <th> Number of categories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @products %></td>
        <td><%= @categories %></td>
      </tr>
    </tbody>
  </table>
</div>
