<header class="page-header text-center">
  <h1>Welcome to Jungle!</h1>
  <h3>Your one-stop-shop for a one-of-a-kind product!</h3>
</header>

<div class="text-center">
  <p>
  Jungle is the place to find that one-of-a-kind product you've been looking for! We've curated a unique selection of products that you won't find anywhere else!
  </p>
</div>